<label>Username : {{myuser.username}}</label></br>
<lable>Birthday : {{myuser.birthday}}</lable>

<form method="post" action="/updatehobbies">
	<label>Hobbies :</label>
	<input id="hobbies" type="text" name="hobbies" value={{myuser.hobbies}}> 
	<button type="submit" class="btn btn-default">Update Hobbies</button></br>
</form>

	<label>Users :</label></br>			
	<table align="center" border="1px" style="width:600px; line-height:40px;">
		<tr>
			<th>Name</th>
			<th>Birthday</th>
			<th>Hobbies</th>
			<th>Friends</th>
		</tr>
		{{#each userstable }}
		<tr>
			<form method="post" action="/addfriend">
				<td>{{this.username}}</br>
					{{#if (hasval this.friends) }}
						<p>You are friends</p>
					{{else}}
						<button type="submit" class="btn btn-default" method="post">Add Friend</button>
						<id="newfriendid" type="text" name="hobbies" {{this.id}}>
					{{/if}}
				</td>
			</form>
			<td>{{this.birthday}}</td>

			<td>{{this.hobbies}}</td>

			<td>{{this.friends}}</td>
		</tr>
		{{/each}}

	</table>
</form>