<label>Username : {{myuser.username}}</label></br>
<lable>Birthday : {{myuser.birthday}}</lable>

<form>
	<label>Hobbies :</label>
	<input type="text" name="hobbies" value={{myuser.hobbies}}> 
	<button type="update" class="btn btn-default" method="updateHobbies" action="/updateHobbies">Update Hobbies</button></br>

	<label>Users :</label></br>			
	<table align="center" border="1px" style="width:600px; line-height:40px;">
		<tr>
			<th>Name</th>
			<th>Birthday</th>
			<th>Hobbies</th>
			<th>Friends</th>
		</tr>
		{{#each userstable }}
		<tr>
			<td>{{this.username}}</br>
				{{#if (hasval this.friends) }}
					<p>You are friends</p>
				{{else}}
					<button type="update" class="btn btn-default" method="addFriend" action="/addFriend">Add Friend</button>
				{{/if}}
			</td>

			<td>{{this.birthday}}</td>

			<td>{{this.hobbies}}</td>

			<td>{{this.friends}}</td>
		</tr>
		{{/each}}

	</table>
</form>